.error {color: #FF0000;}
*{
	box-sizing:border-box;
}
header,footer
{
	width:100%;
	background-color:rgb(255, 136, 0);
	height:10vh;
	color:rgb(255, 255, 255);
	text-align:center;
	font-size:1.1em;
	display:flex;
	justify-content: space-between;
}
footer>div
{
	margin-left:auto;
	margin-right:auto;
	margin-top:2%
}
#heading_and_created
{
	padding-top:1%
}
#hello
{
	padding-left:1%;
	padding-top:2%;
}
#logout
{
	padding-right:1%;
	padding-top:2%;
}
.addStudentModal
{
	display:none;
	z-index:1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,0.4);
}
.addStudentModalContent
{
	margin:10vh auto;
	width:40%;
	background-color:#e6ffe6;
	border-radius:10px;
}
#perr,#lerr
{
	color:red;
	font-size:20px;
}
.closebutton
{
	margin-right:3px;
	float:right;
	font-size:40px;
	font-weight:bold;
	color:#ffffff;
	background-color:#16abe6;
}
.closebutton:hover,.closebutton:focus
{
	cursor:pointer;
	text-decoration:none;
	color:black;
}
.modalHeader
{
	background-color:#16abe6;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding:5px;
	color:#ffffff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.modalHeaderText
{
	font-size:36px;
	margin-left:30px;
	text-align:center;
	width:100%;
}
.addStudentForm
{
	padding:10px 20px;
}
.addStudentFormInput
{
	width:95%;
	height:40px;
	font-size:25px;
	margin:8px 0;
	display:inline;
	border-radius:10px;
}
.addStudentFormRadioInput
{
	width:2em;
	height:2em;
}
.addStudentFormRadioInputLabel
{
	font-size: 2em;
}
#addButton
{
	width:100%;
	height:40px;
	font-size:25px;
	margin-top:5px;
	background-color:#ff3333;
	color:#99ff99;
	cursor:pointer;
	border-radius:10px;
}
.flex-container {
	display: flex;
}
td,th
{
	width:15vw;
	text-align: center;
}
.pill_button_group
{
	flex-direction: column;
}
.pill_button_row
{
	flex-direction: row;
	margin-left:auto;
	margin-right:auto;
}
.pill_button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 2em;
}

.pill_button:hover {
  background-color: #f1f1f1;
}